
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

/* Style the header */
.header {.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* feedback */
fieldset.feedback {
  text-align: center;
  margin: 3em 45em 3em 45em;
}

/* Contact page text */ 
div.custcon {
  text-align: center;
}

/* Website title */
h1 {
  color: #ffffff
}

/* Home article text*/
div.googcens {
  color: #ffffff;
}

/*Home article*/
article.googleCensor {
  text-align: center;
  margin: 3em 30em 3em 19em;
}